<div class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            {{#each courses}}
            <div class="col-sm-3 col-lg-3">
                <div class="card card-courses-item mt-2 ml-2 mr-2 mb-4">
                    <img class="card-img-top" src="https://i.ytimg.com/vi/{{this.image}}/maxresdefault.jpg"
                        alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        {{!-- <a href="/courses/{{this.slug}}" class="btn btn-primary">Начать</a> --}}
                        <a href="" class="btn btn-primary btn-save" data-slug="{{this.slug}}" id="btn-save-courses">Начать</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>

<form name="save-courses-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {


        var CourseSlug;

        var saveForm = document.forms['save-courses-form'];
        var saveBtn = $('.btn-save');


        saveBtn.click(function(e) {
          e.preventDefault();
          
          var CourseSlug = $(this).data('slug');
          saveForm.action = '/courses/' + CourseSlug + '/save?_method=PUT';
          saveForm.submit();

        });

        
    });

</script>